<section id="portfolio" class="home-section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Books</h2>
                    <div class="heading-line"></div>
                    <p>Collection of books available to the group.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <ul id="displaybooks">
                        {{!-- dynamically append users books --}}
                    </ul>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
            </div>
        </div>
    </div>
</section>