<section id="parallax3" class="home-section parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="color-light">
                    <h2 class="wow bounceInDown" data-wow-delay="0.5s" id="header-font1">Your Library</h2>
                    <p class="lead wow bounceInUp" data-wow-delay="1s" id="header-font2">Share books with your friends</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- about -->
<section id="about" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>About the library</h2>
                    <div class="heading-line"></div>
                    <p>An online community library where you can take a book, give a book, and meet people in your community.</p>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-6 about-img">
                <img id="about-img" src="assets/images/librarybox.jpg" alt="" style="height: 350px;">
            </div>

            <div class="col-md-6 content">
                <h2>It's easy. <br>Just create a profile.<br>Join a group.<br>List some books<br>Then meet up with people to exchange.</h2>
                {{!-- <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3> --}}
                <p>
                We're just like a free community library, except your books are listed here. Once you create a profile you will be able to start a group at your office, school, or with whoever you choose. You can also search for a group that already exists and join them. After you are in a group you can list books you wish to make available to everyone. You can then browse everyone elses collection to see if they have anything you would like to read. Make a request to exchange and meet-up. After you finish reading it, just re-list it and wait for someone to request it from you.
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Team -->
{{!-- <section id="team" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading">
                    <h2>Our Team</h2>
                    <div class="heading-line"></div>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.3s">
            <div class="box-team wow bounceInUp">
                <img src="assets/img/team/2.jpg" alt="" class="img-circle img-responsive" />
                <h4>Brian Sandoval</h4>
                <p>Web Designer</p>
                <div class="row mar-top30">
                    <div class="col-md-12">
                        <ul class="social-network">
                            <li><a href="#">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span></a>
                            </li>
                            <li><a href="#">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
                  </span></a>
                            </li>
                            <li><a href="#">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span></a>
                            </li>
                            <li><a href="#">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                  </span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.5s">
            <div class="box-team wow bounceInUp">
                <img src="assets/img/team/3.jpg" alt="" class="img-circle img-responsive" />
                <h4>Donald "Fuzzy" Jones</h4>
                <p>Illustrator</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.7s">
            <div class="box-team wow bounceInUp">
                <img src="assets/img/team/4.jpg" alt="" class="img-circle img-responsive" />
                <h4>Jorge Paredes</h4>
                <p>Typographer</p>
            </div>
        </div>
    </div>
    </div>
</section> --}}