<section id="portfolio" class="home-section bg-gray">
    <div id="intro">
        <div class="intro-text">
            <div class="container">
                <div class="col-md-12">
                    <div id="rotator">
                        <h1><span class="1strotate">Biblioteca Boyz, Read a book, Share a book</span></h1>
                        <div class="line-spacer"></div>
                        <p><span class="2ndrotate">Find your next book, Post your books, All in one place</span></p>
                    </div>
                    <div id="login">
                        <br>
                        <h4>login here</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>