/* #about-img {
    height: 350px;
} */
@font-face {
    font-family: myFirstFont;
    src: url("../fonts/booksandbooks.ttf");
}

#header-font1 {
    color: black;
    font-size: 86px;
    font-family: myFirstFont;
    
    text-shadow: 1px 1px 1px #fff,
        0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
        	
    /* text-shadow: 6px 6px 0px rgba(0,0,0,0.2); */
}

#header-font2 {
    color: black;
    font-size: 32px;
    font-family: myFirstFont;
    text-shadow: 1px 1px 1px #fff;
}

#parallax3 {
	background-image: url(../images/oldbooks.jpg);
}

#booklist, #userlist {
    padding: 10px;
    font-size: 18px;
    /* font-weight: bold; */
    border: 2px solid black;
    /* background: white; */
    margin-bottom: 5px;
}

#removebookbutton {
    display: inline-block;
    margin: 0 auto;
    margin-left: 20px;
    border: 1px solid red;
    background-color: lightgray;
    font-weight: bold;
}

#getuseremail, #usersbooks, #requestbook {
    display: inline-block;
    margin: 0 auto;
    margin-left: 20px;
    border: 2px solid #00C8C5;
    background-color: lightgray;
    font-weight: bold;
}

